.App {
  text-align: center;
}

img {
  width: 100%;
}

.container {
  display: flex;
}

.item {
  flex: 1; 
  border: 1px solid black;
  padding: 30px;
  position: relative;
  overflow: hidden;
  
}

.overlay {
  transition: bottom cubic-bezier(0, -1, 0.71, 1.38) .5s;
  position: absolute;  
  background-color: rgb(10, 10, 10);   
  width: 100%;
  left: 0;
  bottom: -100px;
  opacity: 1;
  
}

h1 {
  font-weight: lighter;
  color: rgb(255, 255, 255);
  }

.item:hover .overlay {
 /* display: block;*/
  opacity: .9;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;  }
}
